doctype html
html(lang='en')
  head
    title Meeting-App -- Designed by Julio
    // Bootstrap from CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Bootstrap Theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    // Stylesheet for Julio
    link(rel='stylesheet', href='stylesheets/julio.css')
  body
    // Julio, Put Your Code Here
    p Here's where your code goes, Julio.
    // Julio, End Your Code Here
    // variables for Meetup data
    pre.
        Julio, these are all the varible names (left side) with their values (right side).
        
        ====================== NOTE ======================
        Don't use the URL in description for anything, Julio.  
        It won't be there in future Meetups.  
        The description is just supposed to be text.  
        Chris won't add images for future Meetups.
        
        name: #{name}
        description: #{description}
        eventURL: #{eventURL}
        venueName: #{venueName}
        venueAddress: #{venueAddress}
        venueCity: #{venueCity}
        venueState: #{venueState}
        venueZip: #{venueZip}
        venueLatitude: #{venueLatitude}
        venueLongitude: #{venueLongitude}
        groupName: #{groupName}
        groupUrlName: #{groupUrlName}
        eventDuration: #{eventDuration}
        eventWeekDay: #{eventWeekDay}
        eventMonth: #{eventMonth}
        eventDay: #{eventDay}
        eventYear: #{eventYear}
        eventStartHour: #{eventStartHour}
        eventStartMin: #{eventStartMin}
        eventStartPeriod: #{eventStartPeriod}
    // end variables
    // jQuery from CDN
    script(src='http://code.jquery.com/jquery-1.12.0.min.js')
    // Bootstrap JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='scripts/app.js')