extends head

block content
    body
    
        nav
            ul
                a(href="/")
                    img(src="/images/nwa-fcc.svg", width="50px")
                li
                li Meet FCC-NWA
                li Vision
        
        div(id="output") 
            h1#eventTitle Next Event:
            p.info.colorOne Who--- : #{groupName}
            p.info.colorTwo What-- : #{name}
            p.info.colorOne Where : #{venueName}
            p.info.colorOne --------- : #{venueAddress}
            p.info.colorOne --------- : #{venueCity}
            p.info.colorOne --------- : #{venueState}
            p.info.colorOne --------- : #{venueZip}
            p.info.colorTwo When- : #{eventTime}
            p.info.colorTwo --------- : #{eventDuration} Hr
            //p description: #{description}
            //p eventURL: #{eventURL}
            //p venueLatitude: #{venueLatitude}
            //p venueLongitude: #{venueLongitude}
            //p groupName: #{groupName}
            //p groupUrlName: #{groupUrlName}
            //p eventDuration: #{eventDuration} (this is in milliseconds -- it breaks down to 120 minutes)
            //p venueLatitude: #{venueLatitude}
            //p venueLongitude: #{venueLongitude}
            //p groupUrlName: #{groupUrlName}