extends head

block content
    body

        nav
            ul
                a(href="/")
                    img(src="/images/nwa-fcc.svg", width="50px")
                li
                li Meet FCC-NWA
                li Vision

        div(id="output")
            h1#eventTitle Next Event:
            p.info.colorOne Who : #{groupName}
            p.info.colorTwo What : #{name}
            p.info.colorTwo When : #{eventDay}
            p.info.colorOne Where : #{venueName}
            p.info.colorOne --------- : #{venueAddress}
            p.info.colorOne --------- : #{venueCity}
            p.info.colorOne --------- : #{venueState}
            //p.info.colorOne --------- : #{venueZip}

            //p eventWeekDay: #{eventWeekDay}
            //p eventMonth: #{eventMonth}
            //p eventDay: #{eventDay}
            //p eventYear: #{eventYear}
            //p eventStartHour: #{eventStartHour}
            //p eventStartMin: #{eventStartMin}
            //p eventStartPeriod: #{eventStartPeriod}

            //p.info.colorTwo --------- : #{eventDuration}
            //p description: #{description}
            //p eventURL: #{eventURL}
            //p venueLatitude: #{venueLatitude}
            //p venueLongitude: #{venueLongitude}
            //p groupName: #{groupName}
            //p groupUrlName: #{groupUrlName}





            //p venueLatitude: #{venueLatitude}
            //p venueLongitude: #{venueLongitude}
            //p groupUrlName: #{groupUrlName}
