extends head

block content
    body
        
        div(id="output") 
            h1#eventTitle Next Event:
            p name: #{name}
            //p description: #{description}
            //p eventURL: #{eventURL}
            p venueName: #{venueName}
            p venueAddress: #{venueAddress}
            p venueCity: #{venueCity}
            p venueState: #{venueState}
            p venueZip: #{venueZip}
            //p venueLatitude: #{venueLatitude}
            //p venueLongitude: #{venueLongitude}
            //p groupName: #{groupName}
            //p groupUrlName: #{groupUrlName}
            //p eventDuration: #{eventDuration} (this is in milliseconds -- it breaks down to 120 minutes)
            p eventTime: #{eventTime} (Sat - Jan 23rd. 2016 - 10:00AM)