extends head

block content
    body        
        div(id="output") 
            p name: #{name}
            p description: #{description}
            p eventURL: #{eventURL}
            p venueName: #{venueName}
            p venueAddress: #{venueAddress}
            p venueCity: #{venueCity}
            p venueState: #{venueState}
            p venueZip: #{venueZip}
            p venueLatitude: #{venueLatitude}
            p venueLongitude: #{venueLongitude}
            p groupName: #{groupName}
            p groupUrlName: #{groupUrlName}
            p eventDuration: #{eventDuration} (this is in milliseconds -- it breaks down to 120 minutes)
            p eventTime: #{eventTime}